<div class="col-lg-4">
  <h2>User info</h2>
  <%= attachment_image_tag current_user, :profile_image, :fill,60,60, fallback:"no_image.jpg" %>
  <table class="table ble-striped">
    <tr>
      <th>name</th>
      <th><%= current_user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= current_user.introduction %></th>
    </tr>
  </table>

  <%= link_to "setting", "/users/#{current_user.id}/edit", class:"btn btn-secondary fas fa-user-cog"%>

  <h2>New book</h2>
  <%=form_with model: book, local:true do |f|%>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Opinion</p>
    <%= f.text_area :body %>
    <%= f.submit "Create Book"%>
  <% end %>
</div>