
<%= render 'searches/form'%>

<div class="container px-5">
  <div class="errors-box ">
    <% if @newbook.errors.any? %>
      <h3><%= pluralize(@newbook.errors.count,"error") %> prohibited this obj from being saved:</h3>
        <ul>
          <% @newbook.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-3 mt-3">

    <%= render 'users/usersinfo', user: @user %>
    <%= render 'books/newbook', newbook: @newbook %>

    </div>
    <div class="col-md-8 offset-md-1 mt-3">
      <h2>Books</h2>
      <p><%= link_to "新しい順",books_path(sort_latest: "true") %> | <%= link_to "評価の高い順",books_path(sort_rate_high: "true") %> | <%= link_to "お気に入り順",books_path(sort_favoritest: "true") %></p>

      <%= render 'index', books: @books %>

    </div>
  </div>

</div>
